#simplebox img, #simplebox div, #simplebox span {
	margin:0;
	padding:0;
	border:none;
	outline:none;
}


#simple-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000;
	z-index: 1100;
	display: none;
}



#simple-tmp {
	visibility:hidden;
	overflow: auto;
	display:none;
}



#simple-outer {
	position: absolute;
	top: 0;
	left: 0;
	background: #FFF;
	display: none;
	border-radius:7px;
	z-index: 1101;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	box-shadow:0 0 10px 2px rgba(0,0,0,0.4);
	-moz-box-shadow:0 0 10px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow:0 0 10px 2px rgba(0,0,0,0.4);
}

#simple-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#simple-img {
	display:block;
	height:100%;
	line-height:0;
	padding:0;
	vertical-align:top;
	width:100%;
}
#simple-loading {
	background:none repeat scroll 0 0 transparent;
	cursor:pointer;
	display:none;
	height:40px;
	left:50%;
	margin-left:-20px;
	margin-top:-20px;
	overflow:hidden;
	position:fixed;
	top:50%;
	width:40px;
	z-index:1104;
}

#simple-loading div {
	background:url("imgs/simplebox.png") no-repeat scroll 0 0 transparent;
	height:480px;
	left:0;
	position:absolute;
	top:0;
	width:40px;
}

#simple-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 32px;
	height: 32px;
	background: url('imgs/simplebox.png') -40px 0 no-repeat;
	cursor: pointer;
	z-index: 1103;
	display:none;
}


#simple-title {
	position: absolute;
	bottom: 0;
	left: 0;
	font-family: Arial,sans-serif;
	font-size: 12px;
	z-index: 1102;
}

#simple-title.simple-title-inside {
	width:100%;
	padding: 10px 0;
	text-align: center;
	color: #333;
}


#simple-title.simple-title-over {
	color: #FFF;
	text-align: center;
}

#simple-title #simple-title-over {
	padding: 10px;
	background: rgba(0,0,0,0.6);
	display: block;
}

#simple-left, #simple-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	z-index: 1102;
	display: none;
}

#simple-left {
	left: 0;
}

#simple-right {
	right: 0;
}

#simple-left-ico, #simple-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#simple-left-ico {
	background: transparent url('imgs/simplebox.png') -40px -30px no-repeat;
}

#simple-right-ico {
	background: transparent url('imgs/simplebox.png') -40px -60px no-repeat;
}


#simple-left:hover span {
	left: 20px;
}

#simple-right:hover span {
	left: auto;
	right: 20px;
}

