body {
    font-family: verdana;
}
a:hover {
    text-decoration: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
#callgood, #mailgood {
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0px;
    z-index: 102;
    background: rgba(0,0,0,0.5);
    display: none;
}
#callgood-2, #mailgood-2 {
    background-color: #FFF;
    color: #196200;
    padding: 45px 20px;
    width: 25%;
    left: 35%;
    top: 30px;
    position: absolute;
    margin-top: 30px;
    z-index: 103;
    border: 2px solid #196200;
    overflow: auto;
    text-align: center;
}
#callgood-2 h3, #mailgood-2 h3{
    font-weight: bold;
}
#callgood-2 h4, #mailgood-2 h4{
    margin-top: 30px;
}
#pdf-reader {
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0px;
    z-index: 102;
    background: rgba(0,0,0,0.5);
    display: none;
}
#pdf-in {
    background-color: #FFF;
    color: #FFF;
    padding: 15px 40px;
    width: 50%;
    height: 80%;
    float: left;
    left: 25%;
    top: 30px;
    position: absolute;
    margin-top: 30px;
    z-index: 103;
    border: 2px solid #197b02;
    overflow: auto;
}
#pdf-in img {
    width: 100%;
}
#close-pdf {
    position: absolute;
    top: 29px;
    right: 23.6%;
    border-radius: 100%;
    background-image: url(/img/close-pdf.png);
    background-size: 100% 100%;
    height: 64px;
    width: 64px;
    z-index: 105;
    cursor: pointer;
}
#callbackform-1 {
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0px;
    z-index: 102;
    background: rgba(0,0,0,0.5);
}

#callbackform-2 {
    background-color: #FFF;
    color: #FFF;
    padding: 15px 40px;
    top: 40px;
    position: fixed;
    margin-top: 30px;
    z-index: 103;
    border-radius: 20px;
    border: 5px solid #197b02;
    margin-left: 35%;
    margin-right: 35%;
}
#callbackform-2 img {
    margin-left: 100%;
    cursor: pointer;
}
#callbackform-2 img:hover {
    box-shadow: inset 13px 0px 0px 0px #777;
}
#callbackform-2 input {
    border-radius: 10px;
    padding: 4px;
    margin: 10px 0px;
}
#callbackform-2 button {
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
    background-color: #197b02;
    border: 0px;
}
#callbackform-2 h3{
    color: #197b02;
}
#callbackform-2 h4{
    color: #197b02;
}
.logo-head {
    width: 70%;
    margin: 8px 0px;
}
.phone-head {
    font-weight: bold;
    font-family: ROBOTO;
    letter-spacing: 3px;
}
.phone-head-mob {
    letter-spacing: 3px;
    color: #000;
    font-weight: bold;
}
.back-head {
    color: #000;
    border-bottom: dashed 1px #777;
    cursor: pointer;
}
.back-head:hover {
    color: #000;
    opacity: .9;
}
.callback-1 {
    z-index: 100;
    position: absolute;
    right: 10px;
    background-color: #FFF;
    padding: 15px;
    width: 250px;
    display: none;
}
.callback-1 img {
    margin-left: -7px;
    cursor: pointer;
    opacity: .6;
}
.callback-1 img:hover {
    opacity: 1;
}
.callback-1 p {
    margin: 0px;
    color: #6bc593;
}
.callback-1 h5 {
    margin-top: 15px;
    text-align:  left;
}
.callback-1 input {
    width: 100%;
    opacity: .5;
    margin-bottom: 10px;
}
.callback-1 input[type="text"]::-webkit-input-placeholder {
    padding-left: 5px;
}
.callback-1 button{
    background-color: #00ad5e;
    border-radius: 0px;
    margin-top: 10px;
    border: 0px;
    font-family: verdana;
    font-size: 15px;
}
.block-1 {
    width: 100%;
    background-image: url(/img/backimg-1.png);
    background-position: bottom center;
    padding-top: 80px;
    color: #FFF;
    padding-bottom: 150px;
    background-repeat: no-repeat;
}
.block-1 .text-center  img {
    width: 100%;
}
.block-1 h1 {
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 3rem;
}
.block-1 a {
/*    background-color: rgba(0,0,0,0.6);*/
    color: #FFF;
    padding: 17px 45px;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid #FFF;
    font-family: ROBOTO;
    letter-spacing: 2px;
}
.block-1 a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.block-1 h3 {
    font-family: verdana;
    margin: 35px 0px;
    font-weight: bold;
}
.button-1 img {
    width: 60px;
}
.block-2 {
}
.block-2 h3 {
    margin: 40px 0px;
    font-weight: bold;
}
.block-2 .b-2-h3 {
    color: #797979;
    font-weight: 100;
}
.block-3 {
    background-image: url(/img/backimg-3.png);
    background-position: top left;
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 50px;
    box-shadow: 0px 24px 20px 2px rgba(0, 0, 0, 0.2);
}
.b-3-1 {
    background-color: #299e30;
    color: #FFF;
    padding: 55px 75px;
    margin-top: 170px;
}
.b-3-1 h3 {
    margin: 0px;
    font-size: 35px;
}
.b-3-2 {
    background-image: url(/img/border-1.png);
    padding: 40px 0px 80px;
    background-position: bottom;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.65);
}
.dot-1 {
    width: 30px;
}
.b-3-2 h3 {
    color: rgba(0, 0, 0, 0.7);
    margin: 30px 0px;
    font-weight: bold;
}
.block-4 {
    padding: 100px 0px;
}
.b-4-0 {
    padding-bottom: 100px;
}
.b-4-0 h4 {
    color: #5f5f5f;
    margin: 20px 0px;
    font-weight: bold;
    font-size: 1.2rem;
}
.b-4-1 {
    background-image: url(/img/backimg-4.png);
    background-size: contain;
    padding: 230px 0px;
    background-repeat: no-repeat;
}
.b-4-1-h1 {
    color: #FFF;
    font-weight: bold;
    font-family: VERDANA;
     margin-bottom: 120px;
    font-size: 60px;
}
.b-4-1-callback {
    border-radius: 20px;
    border: solid 6px #FFF;
    background-color: #299e30;
}
.b-4-1-callback form {
    margin: 0px;
}
.b-4-1-callback img {
    width: 80%;
    padding: 20px;
}
.b-4-1-callback h2 {
    color: #FFF;
    letter-spacing: 2px;
}
.b-4-1-callback input {
    border-radius: 10px;
    color: #FFF;
    width: 90%;
    padding: 10px;
    margin: 10px 0px;
    border: 2px solid #FFF;
    background-color: #5fb664 ;
}
.b-4-1-callback input[type="text"]::-webkit-input-placeholder {
    color: #FFF; /* Цвет подсказывающего текста */
    padding-left: 5px;
    font-size: 20px;
   }
input:focus::-webkit-input-placeholder {
    color: transparent;
    opacity: 0;
   }

.b-4-1-callback button {
    cursor: pointer;
    margin: 15px 0px;
    color: #bfffbf;
    text-transform: uppercase;
    width: 90%;
    border-radius: 10px;
    height: 72px;
    border: 2px solid #FFF;
    background-position: center;
    background-image: url(/img/button-1.png);
    background-size: cover;
}
.b-4-1-callback button:hover {
    opacity: .6;
}

.b-4-1-callback h4 {
    margin: 5px;
}
.b-4-1-callback  p {
    color: #FFF;
    text-transform: uppercase;
}
.b-4-1-callback-v2 {
    background-color: #69cef8;
    border-radius: 10px;
    padding: 10px;
    margin: 110px 0px;
}
.b-4-1-callback-v2 img{
    width: 100%;
}
.b-4-1-callback-v2 h3 {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 40px;
}
.b-4-2-cb-v2-2 {
    margin: 20px 0px;
    padding-bottom: 30px;
}
.b-4-2-cb-v2-2 label {
    font-family: verdana;
    font-size: 20px;
    color: #FFF;
    padding: 0px;
}
.b-4-2-cb-v2-2 .form-check-label input {
    margin: 10px 10px;
}
.b-4-2-cb-v2-3 input{
    border-radius: 20px;
    border: 1px solid #FFF;
    background-color: #8fdafa;
    margin: 10px 0px;
    width: 80%;
}
.b-4-2-cb-v2-3 input::-webkit-input-placeholder {
    padding-left: 10px;
    color: #FFF;
    font-family: verdana;
   }
.b-4-2-cb-v2-3 button {
    box-shadow: 2px 4px 0px 0px rgba(0, 0, 0, 0.65);
    text-shadow: 0 1px 0 #FFF;
    margin-top: 25px;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    color: #000;
    border: 3px solid #FFF;
    background-color: #8fdafa;
    width: 80%;
}
.b-4-2-cb-v2-3 button:active {
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.9);
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 0 #FFF;
    top:2px;
    margin-top: 27px;
    margin-bottom: -2px;
    margin-left: 1px;
}
.block-5 {
    border-bottom: dashed 4px #777;
    padding-bottom: 30px;
}
.block-5 h3{
    margin-top:28px;
}
.b-5-1-review {
    background-color: #299e30;
    color: #FFF;
    text-transform: uppercase;
    font-size: 43px;
    padding: 12px;
    margin-bottom: 80px;
}
.block-5 img {
    width: 100%;
}
.block-6 h2 {
    color: #299e30;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}
.block-6 img {
    width: 100%;
}
.b-6-1-review {
    background-color: #299e30;
    color: #FFF;
    text-transform: uppercase;
    font-size: 43px;
    padding: 12px;
    margin: 90px 0px;
}
.block-7 {
    background-color: #299e30;
    padding: 30px 0px;
    margin: 50px 0px;
}
.block-7 h3 {
    font-family: VERDANA;
    color: #FFF;
    margin-bottom: 20px;
}
.block-7 input {
    background-color: transparent;
    color: #FFF;
    border: dashed 2px #FFF;
    width: 90%;
    padding: 4px 0px;
    text-align: center;
}
.block-7 input[type="email"]::-webkit-input-placeholder {
    color: #FFF; /* Цвет подсказывающего текста */
    font-weight: bold;
    font-family: verdana;
   }
.block-7 button {
    cursor: pointer;
    background-color: #FFF;
    font-family: verdana;
    font-weight: bold;
    color: #299e30;
    padding: 4px 0px;
    border: 0px;
    width: 90%;
    box-shadow: 5px 5px 0px 0px rgba(255, 255, 255, 0.63);
}
.block-7 button:active {
    margin: 2.5px 0px 0px 2.5px;
    color: rgba(41, 158, 48, 0.77);
    border-radius: 5px;
    box-shadow: none;
}
.block-8 {
    background-image: url(/img/backimg-8.png);
     padding-top: 500px;
    background-position: top;
    padding-bottom: 180px;
    background-size: cover;
}
.block-8 h3 {
    padding: 10px;
    color: #FFF;
    font-style: italic;
}
.block-8 button {
    background-color: #2cbbb5;
    color: #FFF;
    padding: 13px 18px;
    font-weight: bold;
    font-family: verdana;
}
.block-8 button:hover {
    opacity: .85;
    cursor: pointer;
}
.block-9 {
    padding: 50px 0px;
}
.block-9 h2 {
    margin: 0px;
    font-weight: bold;
    padding: 8px 2px;
}
.b-9-1 {
    padding: 20px 0px;
}
.b-9-1 a {
    color: #000;
    cursor: pointer;
}
.b-9-1 img {
    padding-left: 15px;
    width: 30%;
}
.b-9-2 {
    padding: 50px 0px;
}
.b-9-2 img:hover{
    width: 96%;
    margin: 2%;
}
.block-10 {
    background-image: url(/img/backimg-10.png);
    background-position: bottom;
    background-size: cover;
}
.b-10-h2 {
    font-weight: bold;
    color: #196200;
}
.b-10-1 {
    padding: 80px 0px;
}
.b-10-2 {
    background-color: #FFF;
    padding: 10px 0px;
}
.b-10-2 .col-xl-12 {
    margin-bottom: 10px;
}
.b-10-2  a{
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}
.b-10-2 img {
    padding: 10px;
}
.b-10-2 h2 {
    font-family: ROBOTO;
}

@media (max-width:1690px){
    .block-3 {
        padding-top: 210px;
    }
    .b-3-1 {
        margin-top: 100px;
        padding: 45px 75px;
    }
    .b-3-2 {
        padding: 50px 0px;
    }
    .b-4-1 {
        padding: 170px 0px;
    }
    .b-4-1-h1 {
        margin-bottom: 90px;
        font-size: 50px;
    }
}

@media (max-width:1370px){
    .b-4-1-h1 {
        margin-bottom: 30px;
        font-size: 35px;
    }
    .b-4-1 {
        padding: 100px 0px;
    }
    .block-1 {
        background-size: cover;
    }
    .block-1 .text-center img {
        width: 80%;
    }
    .block-1 h3 {
        font-family: verdana;
        margin: 25px 0px;
        font-size: 25px;
        margin-left: 10%;
    }
    .block-1 h1 {
        letter-spacing: 2px;
        font-weight: bold;
        margin-bottom: 50px;
        font-size: 3rem;
        line-height: 61px;
    }
    .block-2 img {
        width: 80%;
    }
    .block-2 h3 {
        font-size: 23.6px;
    }
    .block-2 .b-2-h3 {
        margin-left: 11%;
        margin-top: 20px;
    }
}

@media (max-width:1290px){
    .block-1 .text-center  img {
        width: 80%;
    }
    .block-1 h3 {
        margin: 15px 0px;
    }
    .block-3 {
        padding-top: 130px;
    }
    .b-3-1 {
        margin-top: 50px;
        padding: 25px 65px;
    }
    .b-3-2 {
        padding: 10px 0px 50px;
    }
    .b-3-2 h3 {
        margin: 20px 0px;
    }
    .b-4-0 h4 {
            font-size: 1rem;
    }
    .b-4-1 {
        padding: 100px 0px;
    }
    .b-4-1-h1 {
        margin-bottom: 50px;
        font-size: 44px;
    }
    .b-4-1-callback img {
        width: 60%;
        padding: 15px;
    }
    .b-4-1-callback-v2 {
        margin-top: 10px;
        padding-right: 25px;
    }
    .b-4-2-cb-v2-3 input {
        width: 100%;
    }
    .b-4-2-cb-v2-3 button {
        width: 100%;
    }
}
@media (max-width: 1050px){
    .block-1 h3 {
        font-size: 20px;
    }
    .block-2 img {
            width: 100%;
    }
    .b-3-1 {
        margin-left: auto;
        margin-right: auto;
    }
    .b-3-1 h3 {
        font-size: 25px;
    }
    .b-3-2 {
        margin-left: auto;
        margin-right: auto;
    }
    .block-4 {
        padding: 60px 0px;
    }
    .b-4-0 img {
        width: 100%;
    }
    .b-4-0 h4 {
        margin: 33px 0px;
        font-size: 21px;
    }
    .b-4-1 {
        padding: 60px 0px;
    }
    .b-4-1-h1 {
        margin-bottom: 20px;
        font-size: 34px;
    }
    .b-4-1-callback button {
        margin: 15px 0px 20px;
    }
    .block-8 {
        padding-top: 260px;
        padding-bottom: 70px;
    }
}

@media only screen and  (min-device-width:767px){
    .b-full-show {
        display: block;
    }
    .b-full-hide {
        display: none;
    }
}
@media only screen and (max-device-width:767px){
    .b-mob-hide {
        display: none;
    }
    .b-mob-show {
        display: block;
    }
    .block-1 h1 {
        font-size: 2.4rem;
    }
    .block-3 {
        background-position: right;
    }
    .b-3-2 {
        background-color: rgba(121, 193, 126, 0.44);
    }
    .b-4-0 {
        text-align: center;
    }
    .b-4-0 .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .b-4-1 {
        background-size: cover;
        background-position: center;
    }
    .b-4-1-callback {
        flex: 0 0 60%;
        max-width: 60%;
    }
    .b-10-2 .col-6 img {
        width: 100%;
    }
}
